*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F6F2EA;
}

body {
    overflow-y: hidden;
    overflow-x: hidden;
  }

@font-face {
    font-family: 'SF Scribbled Sans';
    src: url('../media/fonts/TrueType/SFScribbledSans.ttf') format('truetype');
}

@font-face {
    font-family: 'Brittany Rays';
    src: url('../media/fonts/BrittanyRaysDemoRegular.ttf') format('truetype');
}

#wardrobe{
    display: inline-flex;
    width: 35vw;
    max-width: 595px;
    height: 100vh;
    background-color: #B9AA91;
}

.clothing table{
    margin: 15px 9px;
}

.clothing td{
    padding-bottom: 13px;
    padding-left: 7px;
    padding-right: 7px;
    cursor: default;
}

#categories{
    padding-top: 20px;
    background-color: #CEC4B3;
    min-width: 100px;
    padding-top: 15px;
}

#shirt-fem{
    background-color: lavender;
}

.clothing img{
    width: 190px;
    height: 190px;
    background-color: #FCFAF8;
    border-radius: 5px;
    margin: 0 2px;
}

#categories img{
    width: 70px;
    height: 70px;
    margin-bottom: 39px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.manequins{
    display: inline-block;
    position: absolute;
    height: 95%;
    margin-left: 7%;
    margin-top: 40px;
}

.manequin{
    position: absolute;
    height: 95%;
}

.manequinshirt{
    position: absolute;
    height: 95%;
    z-index: 0;
}

.manequindress{
    position: absolute;
    height: 95%;
    z-index: 2;
}

.manequinjacket{
    position: absolute;
    height: 95%;
    z-index: 3;
}

.manequinpants{
    position: absolute;
    height: 95%;
    z-index: 1;
}

#tag{
    display: inline-block;
    width: 200px;
    height: 120px;
    padding: 0px 5px;
    rotate: -7deg;
    margin-left: 50px;
}

#tag h1{
    text-decoration: underline;
    font-size: 60px;
    color: #3E372D;
    font-family: "Brittany Rays";
    letter-spacing: 5px;
}

#tag div{
    margin-top: -12px;
    font-size: 60px;
    color: #767468;
    font-family: "SF Scribbled Sans";
}

#body-types{
    display: inline-flex;
}

#body-type-options{
    display: inline-flex;
    flex-wrap: wrap;
    margin-left: 565px;
    width: 80px;
    row-gap: 15px;
}

.bodytypeoption{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background-color: #C9C6BD;
}

#body-types img{
    display: block;
    height: 55px;
}

#infobutton{
    position: absolute;
    display: inline-block;
    text-align: center;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    border: 2px solid #8A7559;
    background-color: #D6B485;
    color: #3E372D;
    font-family: 'Acme', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: px;
    margin-top: -14px;
    cursor: pointer;
    z-index: 6;
    user-select: none;
}

#info{
    position: absolute;
    background-color: #F6F2EA;
    border: 3px solid #B9AA91;
    min-width: 250px;
    color: #3E372D;
    text-align: center;
    font-family: 'Acme', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 22.5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-right: 73px;
    margin-top: -3px;
    padding: 14px 16px;
    width: 250px;
    right: 0;
    z-index: 5;
}

#infobackground{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 5;
    opacity: 0.5;
}

.manequin:not(.active) {
    display: none;
}

.clothing:not(.active) {
    display: none;
}

.manequinshirt:not(.active) {
    display: none;
}

.manequindress:not(.active) {
    display: none;
}

.manequinjacket:not(.active) {
    display: none;
}

.manequinpants:not(.active) {
    display: none;
}